In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import pymysql

plt.rcParams['font.family'] = 'simhei'
plt.rcParams['axes.unicode_minus'] = False

# 连接数据库
conn = pymysql.connect(
    host='localhost',
    user='root',
    passwd='mysql',
    db='test',
    port=3306,
    charset='utf8'
)
df = pd.read_sql('select * from test', conn)
data = df.values
subjects = list(df)  # 表头 ['语文', '数学', '英语', '物理', '化学']
v1 = data[0]  # 第一行 [77, 92, 83, 74, 90]
v2 = data[1]  # [63, 88, 99, 69, 66]


def line():
    plt.title('柱状图')
    plt.plot(subjects, v1, label='v1')
    plt.plot(subjects, v2, label='v2')
    plt.xlabel('Subjects')
    plt.xlabel('Score')
    plt.ylim(0, 100)
    plt.legend()
    plt.show()


if __name__ == '__main__':
    # subjects = ['语文', '数学', '英语', '物理', '化学']
    # v1 = [77, 92, 83, 74, 90]
    # v2 = [63, 88, 99, 69, 66]
    line()